{% extends "base.html" %}

{% block content %}
 <section class="ad-post bg-gray py-5">
    <div class="container">
        <form method="POST"  enctype="multipart/form-data" name = "formname">{% csrf_token %}
            <!-- Post Your ad start -->
            <fieldset class="border border-gary p-4 mb-5">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>Post Your ad</h3>
                        </div>
                        <div class="col-lg-6">
                            <h6 class="font-weight-bold pt-4 pb-1">Title Of Ad:</h6>
                             {{form.title}}
                            <h6 class="font-weight-bold pt-4 pb-1">Description:</h6>
                             {{form.description}}
                        </div>
                        <div class="col-lg-6">
                        
                            <h6 class="font-weight-bold pt-4 pb-1">Select Ad Category:</h6>
                            {{form.category}}
                            <div class="price">
                                <h6 class="font-weight-bold pt-4 pb-1">Item Price (Rs):</h6>
                                <div class="row px-3">
                                    <div class="col-lg-4 mr-lg-4 rounded bg-white my-2 ">
                                        {{form.price}}
                                    </div>
                                    <div class="col-lg-4 mrx-4 rounded bg-white my-2 ">
                                        <input type="checkbox" value="Negotiable" id="Negotiable">
                                        <label for="Negotiable" class="py-2">Negotiable</label>
                                    </div>
                                </div>
                            </div>
                            <div class="choose-file text-center my-4 py-4 rounded">
                                <label for="id_image">
                                     <span class="d-block btn bg-primary text-white my-3 select-files">Select files</span> 
                                    <span class="d-block">Maximum upload file size: 500 KB</span>
                                  
                                </label>
                                  {{form.image}}
                            </div>
                        </div>
                    </div>
            </fieldset>
            <!-- Post Your ad end -->

            <!-- seller-information start -->

            <!-- ad-feature start -->
         
            <!-- submit button -->
            <div class="checkbox d-inline-flex">
                <input type="checkbox" id="terms-&-condition" class="mt-1" name = "checkboxname" onclick= "checkTerms();">
                <label for="terms-&-condition" class="ml-2">By click you must agree with our
                    <span> <a class="text-success" href="terms-condition.html">Terms & Condition and Posting Rules.</a></span>
                </label>
            </div>
            <button type="submit" class="btn btn-primary d-block mt-2 " name = "submitname">Post Your Ad</button>
                {% if form.errors %}
  <ul>
    {% for error in form.errors %} 
      <li>{{ error }}</li>
    {% endfor %}
  </ul>
{% endif %} 
        </form>
    </div>
    {% if form.errors %}
  <ul>
    {% for error in form.errors %} 
      <li>{{ error }}</li>
    {% endfor %}
  </ul>
{% endif %} 
</section> 

{% comment %} Product Info

    <div class='jumbotron'>
        <form enctype='multipart/form-data' method='POST'>
            {{ form.as_p }}
            {% csrf_token %}
            <input class='btn btn-primary'  type='submit' value='Save Product'>
        </form>
    </div>
<h1>this is a add product page</h1>
{{request.user.id}} {% endcomment %}


{% endblock content %}

{% comment %} <tr><th><label for="id_title">Title:</label></th><td><input type="text" name="title" value="first post" maxlength="10" required id="id_title"></td></tr>
<tr><th><label for="id_description">Description:</label></th><td><textarea name="description" cols="40" rows="10" maxlength="200" required id="id_description">
sasaasdsda</textarea></td></tr>
<tr><th><label for="id_image">Image:</label></th><td><input type="file" name="image" accept="image/*" required id="id_image"></td></tr> {% endcomment %}
