<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}
{% block content %}
    
    <div class = "jumbotron shadow p-3 mb-5 bg-white rounded " style="width:350px;padding:30px;margin:70px auto; border:1px solid black; border-radius:3px;">
    <center><h2 ><span class="glyphicon glyphicon-user"></span> Login</h2></center>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}

            <button type="submit" class = "btn btn-success ml-2" style="margin:10px auto;width:100px;" >Login</button>
        </form>
    </div>
{% endblock %}